body {
    font-family: Arial;
}

#listings table {
    border: 1px solid #999999;
}

#home table {
    border: 1px solid #999999;
}

#home td {
    padding: 5px;
}

#home table td:nth-child(1) {
    font-weight: bold;
}
